<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<form role="form" class="form-inline">
  <div class="field form-group">
    <%= f.label :interestname, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
	<%= f.text_field :interestname, class: 'form-control' %>
	</div>
  </div>
  
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">
    <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  
  
  
  <%= f.collection_check_boxes(:activity_ids, Activity.all, :id, :title) do |b| %>
  <div class="row">
    <%= b.label(class: "check_box") do %>
      <div class="col-xs-4">
        <%= b.check_box(class: "check_box") %>
      </div>

      <div class="col-xs-8">
        <%= b.object.title %>
      </div>       
    <% end %>
  </div>
<% end %>
  
  
  <div class="actions form-group">
    <div class='col-sm-offset-2 col-sm-2'>
    <%= f.submit "發送", class: 'form-control' %>
	</div>
	<div class= "col-sm-2">
<%= link_to '返回', interests_path, class: 'btn btn-default' %>
</div>
  </div>
<% end %>
</form>