<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<form role="form" class="form-inline">
  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
	<%= f.text_field :title, class: 'form-control' %>
	</div>
  </div>
  
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">
    <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field form-inline">
    <%= f.label :'Start date', class: 'col-sm-2 control-label' %>
   <div class="col-sm-10">
	<%= f.date_select :startdate, {}, {class: "form-control"} %>
	</div>
  </div>
    
  <div class="field form-inline">
    <%= f.label :'finish date', class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">
    <%= f.date_select :finishdate, {}, {class: "form-control"} %>
	</div>
  </div>
 
  <div class="field form-group">
      <%= f.label :address, class: 'col-sm-2 control-label' %>
	      <div class='col-sm-10'>
          <%= f.text_area :address, class: 'form-control' %>
	      </div>
  </div>
  
  
  <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :interestname) do |b| %>
  <div class="row">
    <%= b.label(class: "check_box") do %>
      <div class="col-xs-4">
        <%= b.check_box(class: "check_box") %>
      </div>

      <div class="col-xs-8">
        <%= b.object.interestname %>
      </div>       
    <% end %>
  </div>
<% end %>
  
  
  <div class="actions form-group">
    <div class='col-sm-offset-2 col-sm-2'>
    <%= f.submit "發送", class: 'form-control' %>
	</div>
	<div class= "col-sm-2">
<%= link_to '返回', activities_path, class: 'btn btn-default' %>
</div>
  </div>
<% end %>
</form>