<head>
  <title>活動</title>
</head>
<p id="notice"><%= notice %></p>

<h1>活動列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>活動名稱</th>
      <th>開始日期</th>
      <th>結束日期</th>
      <th>地址</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr class="active">
        <td><%= activity.title %></td>
        <td><%= activity.startdate %></td>
        <td><%= activity.finishdate %></td>
        <td><%= activity.address %></td>
        <td>
		  <div class="btn-group btn-group-sm">
		    <button class="btn btn-default">
		      <%= link_to activity do %>
              <i class="glyphicon glyphicon-folder-open"></i> 打開
			  <% end %>
            </button>
            <button class="btn btn-default">
			  <%= link_to edit_activity_path(activity) do %>
              <i class="glyphicon glyphicon-pencil"></i> 編輯
			  <% end %>
            </button>
			<button class="btn btn-default">
			  <%= link_to activity, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-remove-sign"></i> 刪除
			  <% end %>
            </button>
	      </div>
		</td>
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_activity_path, class: 'btn-sm btn-primary' do %>
<i class="glyphicon glyphicon-plus"></i> 新增活動
<% end %>